$height: 28px;

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  background: #EDEBE9;
  user-select: none;
  height: $height;

  .title {
    margin: 0 auto 0 0;
    padding: 0 10px;
    font-size: 0.8em;
  }

  .trash_button {
    cursor: pointer;
    padding: 0;
    border: none;
    height: $height;
    width: 28px;
  }
}