.card {
  width: 100%;

  .title {
    padding: 5px 0;
    font-size: 0.8em;
    font-weight: bolder;
  }

  .common_info {
    display: flex;
    justify-content: left;
    align-items: center;

    .temperature {
      font-size: 1.6em;
      font-weight: bold;
    }
  }


}