.description {
  font-size: 0.8em;

  .desc_item {
    display: inline-block;
    margin-right: 5px;

    &:first-letter {
      text-transform: uppercase;
    }

    &::after {
      content: ". "
    }
  }
}