@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

$width: 200px;

.root {
  max-width: $width;
  width: $width;
  overflow: hidden;
  font-size: 1em;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}