.loader_container {
  display: flex;
  justify-content: center;
  align-items: center;

  .loader {
    margin: 3px;
    color: #8BC2EB;
    font-size: 1em;
    font-weight: bold;
    min-width: 88px;

    &::after {
      content: '';
      animation: dots_blink linear 1s infinite;
    }

    @keyframes dots_blink {
      0% {
        content: '.';
      }
      50% {
        content: '..'
      }
      100% {
        content: '...'
      }
    }
  }
}
